<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TheatreClient.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <TheatreClient.Properties.Settings>
            <setting name="nameTable" serializeAs="String">
                <value />
            </setting>
            <setting name="connectText" serializeAs="String">
                <value>Server=localhost;DataBase=teatr;Uid=root;Pwd=lime3:staff;charset=utf8</value>
            </setting>
            <setting name="guestMode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="isRoot" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="who" serializeAs="String">
                <value />
            </setting>
        </TheatreClient.Properties.Settings>
    </userSettings>
</configuration>